{% extends 'base.html' %}

{% block content %}
  <h2>Your Tasks</h2>
  
  {% if tasks %}
     <table class="table table-bordered table-hover align-middle text-center">
            <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Status</th>
          <th>Task Category</th>
          <th>File</th>
          <th>Task Uploaded File</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.get_status_display }}</td>
            {% if task.category %}
              <td>{{ task.category.name }}</td>
            {% else %}
              <td>-</td>
            {% endif %}
            <td>
              {% if task.file %}
                {% if task.file.url|lower|slice:"-4:" == ".jpg" or task.file.url|lower|slice:"-4:" == ".png" %}
                  <img src="{{ task.file.url }}" alt="tasktask Image" class="img-fluid" style="max-width: 100px;">
                {% else %}
                  <a href="{{ task.file.url }}" download class="btn btn-secondary btn-sm">Download File</a>
                {% endif %}
              {% else %}
                No file attached
              {% endif %}
            </td>
            <td>
              {% if task.task_upload_file %}
                {% if task.task_upload_file.url|lower|slice:"-4:" == ".jpg" or task.task_upload_file.url|lower|slice:"-4:" == ".png" %}
                  <img src="{{ task.task_upload_file.url }}" alt="tasktask Image" class="img-fluid" style="max-width: 100px;">
                {% else %}
                  <a href="{{ task.task_upload_file.url }}" download class="btn btn-secondary btn-sm">Download File</a>
                {% endif %}
              {% else %}
                No file attached
              {% endif %}
            </td>
            <td>
              <a href="{% url 'task:user_detail_tasks' task.id %}" class="btn btn-warning btn-sm">View</a>

              <a href="{% url 'task:update_task_status' task.id %}" class="btn btn-primary btn-sm">Update Status</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No tasks available.</p>
  {% endif %}
{% endblock %}