{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center mb-4 md-4 mt-4" ><b>Your Tasks </b></h2>
  
  {% if tasks %}
     <table class="table table-bordered table-hover align-middle text-center">
            <thead class="table-dark">
        <tr>
          <th style="background: linear-gradient(135deg,rgb(85, 123, 147) 0%,rgb(138, 172, 206) 100%);">#</th>
          <th style="background: linear-gradient(135deg,rgb(85, 123, 147) 0%,rgb(138, 172, 206) 100%);">Title</th>
          <th style="background: linear-gradient(135deg,rgb(85, 123, 147) 0%,rgb(138, 172, 206) 100%);">Description</th>
          <th style="background: linear-gradient(135deg,rgb(85, 123, 147) 0%,rgb(138, 172, 206) 100%);">Due Date</th>
          <th style="background: linear-gradient(135deg,rgb(85, 123, 147) 0%,rgb(138, 172, 206) 100%);">Status</th>
          <th style="background: linear-gradient(135deg,rgb(85, 123, 147) 0%,rgb(138, 172, 206) 100%);">Task Category</th>
          <th style="background: linear-gradient(135deg,rgb(85, 123, 147) 0%,rgb(138, 172, 206) 100%);">File</th>
          <th style="background: linear-gradient(135deg,rgb(85, 123, 147) 0%,rgb(138, 172, 206) 100%);">Task Uploaded File</th>
          <th style="background: linear-gradient(135deg,rgb(85, 123, 147) 0%,rgb(138, 172, 206) 100%);">Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for task in tasks %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.get_status_display }}</td>
            {% if task.category %}
              <td>{{ task.category.name }}</td>
            {% else %}
              <td>-</td>
            {% endif %}
            <td>
              {% if task.file %}
                {% if task.file.url|lower|slice:"-4:" == ".jpg" or task.file.url|lower|slice:"-4:" == ".png" %}
                  <img src="{{ task.file.url }}" alt="tasktask Image" class="img-fluid" style="max-width: 100px;">
                {% else %}
                  <a href="{{ task.file.url }}" download class="btn btn-secondary btn-sm">Download File</a>
                {% endif %}
              {% else %}
                No file attached
              {% endif %}
            </td>
            <td>
              {% if task.task_upload_file %}
                {% if task.task_upload_file.url|lower|slice:"-4:" == ".jpg" or task.task_upload_file.url|lower|slice:"-4:" == ".png" %}
                  <img src="{{ task.task_upload_file.url }}" alt="tasktask Image" class="img-fluid" style="max-width: 100px;">
                {% else %}
                  <a href="{{ task.task_upload_file.url }}" download class="btn btn-secondary btn-sm">Download File</a>
                {% endif %}
              {% else %}
                No file attached
              {% endif %}
            </td>
            <td>
              <a href="{% url 'task:user_detail_tasks' task.id %}" class="btn btn-warning btn-sm">View</a>

              <a href="{% url 'task:update_task_status' task.id %}" class="btn btn-primary btn-sm">Update Status</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No tasks available.</p>
  {% endif %}
{% endblock %}