{% extends 'base.html' %}
{% block content %}
{% if request.user.role == 'admin' %}
  <div><a href="{% url 'task:create_holiday' %}" class="btn btn-primary">Add Holiday</a></div>
{% endif %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        {% if request.user.role == 'admin' %}
          <th>Actions</th>
        {% endif %}

      </tr>
    </thead>
    <tbody>
      {% for holiday in holidays %}
      <tr>
        <th scope="row">{{holiday.id}}</th>
        <td>{{holiday.title}}</td>
        <td>{{holiday.date}}</td>
        {% if request.user.role == 'admin' %}
          <td>
              <a href="{% url 'task:edit_holiday' holiday.id %}" class="btn btn-primary">Update Holiday</a>
              <a href="{% url 'task:delete_holiday' holiday.id %}" class="btn btn-primary">Delete Holiday</a>
          </td>
         {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}